@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-ios: -apple-system, "SF Pro Display", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-ios);
  background-color: #f2f2f7;
  color: #1c1c1e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-application {
  background: transparent !important;
  font-family: var(--font-ios) !important;
}